<%+header%>
<fieldset>
    <legend>修改登录密码</legend>
    <div id="Error">
        <div id="hsErr" class="hsTip">
            <i class="altIcon"></i>>
            <span class="detail">两次密码输入不一致！</span>
            <input class="subBtn" value="确 定" type="button" onclick="closeTip()">
        </div>
    </div>
    <li class="border-line"></li>
    <table class="tb-no-border">
        <tr><td class="wan-td-left">原登录密码：</td><td class="wan-td-right"><input id="old-password" type="password" maxlength="63"  onkeyup="nStrLimit(this)"></td></tr>
        <tr><td class="wan-td-left">新登录密码：</td><td class="wan-td-right"><input id="new-password" type="password" maxlength="63"  onkeyup="nStrLimit(this)"></td></tr>
        <tr><td class="wan-td-left">确认新登录密码：</td><td class="wan-td-right"><input id="renew-password" type="password" maxlength="63"  onkeyup="nStrLimit(this)"></td></tr>
        <tr><td colspan="2">
            <button onclick="modifyPassword()">保存</button>
            <i id="saveTip" class="hsSubLoading saving" style="display: none"></i>
            <i id="saveTipSucess" class="hsSubLoading save-suc" style="display: none"></i>
        </td></tr>
    </table>
</fieldset>
<%+footer%>
<script>
    // router interfaces
    function modifyPassword() {
        var passwordold = document.getElementById('old-password').value;
        var passwordnew = document.getElementById('new-password').value;
        var repasswordnew = document.getElementById('renew-password').value;
        if (passwordnew.length <6){
            var err = document.getElementById('Error');
            var text = err.getElementsByTagName('span')[0];
            text.innerText = '新密码长度不能少于6位！'
            err.style.visibility = 'visible';
            return;
        }
        if (passwordnew != repasswordnew) {
            var err = document.getElementById('Error');
            var text = err.getElementsByTagName('span')[0];
            text.innerText = '两次密码输入不一致！'
            err.style.visibility = 'visible';
            return;
        }
        var params = {'passwordold':passwordold, 'passwordnew':passwordnew};
        console.log(params);
        document.getElementById("saveTip").style.display='';
        document.getElementById("saveTipSucess").style.display='none';
        XHR.post('<%=luci.dispatcher.build_url("admin", "systemnew","set_password")%>', params,
            function(x, result){
            console.log(result);
                document.getElementById("saveTip").style.display='none';
                if (result!=null&&result.code == 0) {
                    console.log(result);
                    document.getElementById("saveTipSucess").style.display='';
                    setTimeout(function () {
                        document.getElementById("saveTipSucess").style.display='none';
                        location.href='<%=controller%>/admin/logout';
                    },"2000");
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '设置失败,请检查原密码是否正确！'
                    err.style.visibility = 'visible';
                }
            });
    }
    // page functions
    function closeTip() {
        document.getElementById("Error").style.visibility = 'hidden';
    }
</script>
