<%#
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2012 Jo-Philipp Wich <jow@openwrt.org>
Licensed to the public under the Apache License 2.0.
-%>

<!DOCTYPE html>
<html class="GuideHTml" lang="<%=luci.i18n.context.lang%>">
<head>
    <link rel="stylesheet" href="<%=media%>/routerStyle.css">
    <link rel="stylesheet" href="<%=media%>/cascade.css">
    <script src="<%=resource%>/xhr.js"></script>
    <script src="<%=media%>/js/siwifi.js"></script>
</head>
<body class="guide" >
<div class="GUHeader">
    <div class="wizardContent">
        <div class="wizardLogo"></div>
    </div>
</div>
<div class="wizardContent">
    <div id="wizardCon" class="wizardCon">
        <div id="Error">
            <div id="hsErr" class="hsTip">
                <i class="altIcon"></i>>
                <span class="detail">设置失败！</span>
                <input class="subBtn" value="确 定" type="button" onclick="closeTip()">
            </div>
        </div>
        <ul id="setting-1">
            <li class="wizardTop wizardTopWan">
                <span class="NTLeft">上网设置</span>
                <span class="NTRight">请选择您的上网接入方式</span>
                <input id="detect" class="wzdDetect subBtn" value="自动检测" type="button" onclick="getWan()">
                <a onclick="toHome()"><i></i><span>跳过向导</span></a>
            </li>
            <li class="wizardBom">
                <!--<p id="loadTip" class="wizardPwdTip">路由器自动检测到您的上网方式如下</p>
                <p class="wizardTip">IP将自动从运营商处获取，请继续下一步</p>-->
                <table class="tb-no-border" style="margin: 25px auto;">
                    <!--<tr>
                        <td>
                            <ul class="inputUl">
                                <li class="t_right">
                                    <label class="t_left" >上网方式</label>

                                    <select id="wan-connect-type" onchange="changeOption();hidTip()">
                                        <option value="pppoe">宽带拨号上号</option>
                                        <option value="static">固定IP地址</option>
                                        <option value="dhcp">自动获得IP地址</option>
                                    </select>
                                </li>
                                <input id="detect" class="wzdDetect subBtn" value="自动检测" type="button" onclick="getWan()">
                            </ul>
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <input type="radio" name="wan-connect-type" value = "pppoe" onchange="getRadioChange('wan-connect-type');hidTip()">宽带拨号上号
                            <input type="radio" name="wan-connect-type" value = "static" onchange="getRadioChange('wan-connect-type');hidTip()">固定IP地址
                            <input type="radio" name="wan-connect-type" value = "dhcp" onchange="getRadioChange('wan-connect-type');hidTip()">自动获得IP地址
                            <!--<input id="detect" class="wzdDetect subBtn" value="自动检测" type="button" onclick="getWan()">-->
                        </td>
                    </tr>
                    <tr id="pppoe">
                        <td>
                            <table>
                                <tr><td class="c_left">宽带账号</td><td class="c_right"><input id="pppoe-username"  maxlength="32"></td></tr>
                                <tr><td class="c_left">宽带密码</td><td class="c_right"><input id="pppoe-password" onkeyup="nStrLimit(this)" maxlength="63"></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="static" style="display: none">
                        <td>
                            <table>
                                <tr><td class="c_left">IP地址</td><td class="c_right"><input id="static-ipaddr" onchange="isValidInput()"></td></tr>
                                <tr><td class="c_left">子网掩码</td><td class="c_right"><input id="static-netmask" onchange="isValidInput()"></td></tr>
                                <tr><td class="c_left">网关</td><td class="c_right"><input id="static-gateway" onchange="isValidInput()"></td></tr>
                                <tr><td class="c_left">首选DNS服务器</td><td class="c_right"><input id="static-dns" onchange="isValidInput()"></td></tr>
                                <tr><td class="c_left">备用DNS服务器</td><td class="c_right"><input id="static-dnsbak" onchange="isValidInput()"></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="dhcp" style="display: none">
                        <td colspan="2">IP将自动从运营商处获取，请继续下一步</td>
                    </tr>
                </table>
                <div class="WifiErrTip">
                    <ul>
                        <li id="basicIpNote" class="note" >
                            <i class="arrowL"></i><div class="noteCon"><p>IP地址格式错误，请重新输入</p></div>
                        </li>
                        <li id="basicMaskNote" class="note">
                            <i class="arrowL"></i><div class="noteCon"><p>子网掩码格式错误，请重新输入</p></div>
                        </li>
                        <li id="basicGatewayNote" class="note">
                            <i class="arrowL"></i><div class="noteCon"><p>网关错误，请重新输入</p></div>
                        </li>
                        <li id="basicPrimDnsNote" class="note">
                            <i class="arrowL"></i><div class="noteCon"><p>请输入正确的首选DNS服务器</p></div>
                        </li>
                        <li id="basicSeDnsNote" class="note">
                            <i class="arrowL"></i><div class="noteCon"><p>请输入正确的备用DNS服务器</p></div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="lgBtns">
                <button onclick="changeDiv([1,2])">下一步</button>
            </li>
        </ul>
        <ul id="setting-2" style="display: none">
            <li class="wizardTop wizardTopWireless">
                <span class="Set-2 NTLeft">无线设置</span>
                <a onclick="toHome()"><i></i><span>跳过向导</span></a>
            </li>
            <li class="wizardBom">
                <table class="tb-no-border" style="margin-top: 50px">
                    <tr><td>
                        <ul class="inputUl wizardIptPos">
                            <li class="inputLi">
                                <label for="">无线名称</label>
                                <input id="name" maxlength="32" type="text">
                                <i class="tip"></i>
                            </li>
                            <li id="wzdAntNote" class="note" style="display: inline-block; visibility: visible;">
                                <i class="arrowL"></i>
                                <div class="noteCon">
                                    <p class="vlM">请输入无线名称</p>
                                </div>
                            </li>
                        </ul>
                    </td></tr>
                    <tr><td>
                        <ul class="inputUl wizardIptPos overflowH">
                            <li class="inputLi">
                                <label for="">无线密码</label>
                                <input id="wzdWirelessPwd" class="imeModeN" maxlength="63"  onkeyup="nStrLimit(this)" type="text">
                                <i class="tip"></i>
                            </li>
                        </ul></td></tr>
                </table>
                <span class="wizardWirelessTip">无线密码为8-63个字符，最好是数字、字母、符号的组合</span><br>
            </li>
            <li class="black"></li>
            <li class="lgBtns">
                <button onclick="changeDiv([2,1])">上一步</button><button onclick="changeDiv([2,3])">下一步</button>
            </li>
        </ul>
        <ul id="setting-3" style="display: none">
            <li class="wizardTop wizardTopEnd">
                <a onclick="toHome()"><i></i><span>跳过向导</span></a>
            </li>
            <li class="wizardBomEnd">
                <i class="wirelessNoChg" style="display: inline-block;"></i><br><br><br>
                <span>请点击“确认”按钮</span><br><br>
                <span>完成设置向导</span>
            </li>
            <li class="lgBtnsWzd">
		<span class="btnConWzd btnConWzdL">
            <button  onclick="changeDiv([3,2])">上一步</button >
		</span>
                <span class="btnConWzd">
            <button onclick="confirmConfig()">确认</button>
		</span>
            </li>

        </ul>
    </div>
</div>
<div id="Cover" style="display: block; visibility: hidden;"></div>
<div id="pwdNullTip" class="confirmCon" style="visibility: hidden">
    <div class="confirm">
        <i class="confirmLogo"></i>
        <span class="confirmQuestion">请加密您的无线网络！</span>
        <input class="confirmInputConfirm" value="去加密" type="button" onclick="repwd()">
        <p class="confirmFuncCon" onclick="nopwd([2,3])"><span class="confrimInputCancel">不加密，并自行承担风险</span></p>
    </div>
</div>
<div id="isSureTip">
    <div id="sureTip" class="hsTip">
        <i class="altIcon"></i>
        <span class="detail">如果您的计算机使用了手动设置的ip地址，请对应修改计算机的IP地址，子网掩码及默认网关。</span>
        <input class="subBtn" value="确 定" type="button" onclick="closeSureTip(1)">
        <input class="subBtn" value="取消" type="button" onclick="closeSureTip(2)">
    </div>
</div>
<script src="<%=media%>/js/commonScript.js"></script>
</body>
</html>
<script>
    // global vars
    var selected = 0;
    var wan_settings;
    var ifaces;
    var staticSave = false;
    // page load functions
    getWan();

    // router get interfaces
    function getWan() {
        XHR.get('<%=luci.dispatcher.build_url("admin", "networknew","get_wan")%>', null,
            function(x, result) {
                if(result.code == 0) {
                    console.log(result);
                    var wanConnectType = document.getElementsByName('wan-connect-type');
                    var wantype = result.wantype;
                    var e;
                    if (wantype == 1) {
                        wanConnectType[2].checked = true;
                        getRadioChange('wan-connect-type');
                        hidTip();
                    } else if (wantype == 2) {
                        wanConnectType[1].checked = true;
                        if (result.staticip.ipaddr != undefined) {
                            document.getElementById('static-ipaddr').value = result.staticip.ipaddr;
                        }
                        if (result.staticip.netmask != undefined) {
                            document.getElementById('static-netmask').value = result.staticip.netmask;
                        }
                        if (result.staticip.gateway != undefined) {
                            document.getElementById('static-gateway').value = result.staticip.gateway;
                        }
                        if (result.staticip.dns != undefined) {
                            document.getElementById('static-dns').value = result.staticip.dns;
                        }
                        if (result.staticip.dnsbak != undefined) {
                            document.getElementById('static-dnsbak').value = result.staticip.dnsbak;
                        }
                        getRadioChange('wan-connect-type');
                        hidTip();
                    } else if (wantype == 4) {
                        wanConnectType[0].checked = true;
                        if (result.PPPoE.account != undefined) {
                            document.getElementById('pppoe-username').value = result.PPPoE.account;
                        }
                        if (result.PPPoE.password != undefined) {
                            document.getElementById('pppoe-password').value = result.PPPoE.password;
                        }
                        getRadioChange('wan-connect-type');
                        hidTip();
                    }
                }
            });
    }

    function changeDiv(arr) {
        var fromId = 'setting-' + arr[0];
        var toId = 'setting-' + arr[1];
        if (arr[0]==1&&arr[1]==2) {
            var wanTypeRadio = document.getElementsByName("wan-connect-type");
            var wantype_value;
            for (var i=0 ; i<wanTypeRadio.length; i++){
                if (wanTypeRadio[i].checked){
                    wantype_value = wanTypeRadio[i].value;
                }
            }
            if (wantype_value == 'pppoe') {
                var wantype = 4;
                var username = document.getElementById('pppoe-username').value;
                var password = document.getElementById('pppoe-password').value;
                wan_settings = {'wantype':wantype, 'account':username, 'password':password, 'dns':''}
                if(username==""||password==""||username==null||password==null){
                    document.getElementById('isSureTip').style.visibility = 'visible';
                    return;
                }
            } else if (wantype_value == 'static') {
                staticSave = true;
                if (!isValidInput())
                    return;
                var wantype = 2;
                var ipaddr = document.getElementById('static-ipaddr').value;
                var netmask = document.getElementById('static-netmask').value;
                var gateway = document.getElementById('static-gateway').value;
                var dns = document.getElementById('static-dns').value;
                var dnsbak = document.getElementById('static-dnsbak').value;
                wan_settings = {'wantype':wantype, 'ipaddr':ipaddr, 'netmask':netmask, 'gateway':gateway, 'dns':dns, 'dnsbak':dnsbak};
            } else if (wantype_value == 'dhcp') {
                var wantype = 1;
                wan_settings = {'wantype':wantype, 'dns':''};
            }
            console.log(wan_settings);
            XHR.get('<%=luci.dispatcher.build_url("admin", "wirelessnew","get_wifi_iface")%>', null,
                function(x, result) {
                    if (result.code == 0) {
                        console.log(result);
                        console.log(result.ifaces);
                        ifaces = result.ifaces;
                        for (i in ifaces) {
                            if (ifaces[i].band == '2.4G') {
                                document.getElementById('name').value = ifaces[i].ssid;
                            }
                        }
                    }
                });
        }
        if (arr[0]==2&&arr[1]==3) {
            var name = document.getElementById('name').value;
            var password = document.getElementById('wzdWirelessPwd').value;
            for (i in ifaces) {
                if (ifaces[i].band == '2.4G') {
                    ifaces[i].ssid = name;
                    ifaces[i].key = password;
                } else {
                    ifaces[i].ssid = name+'-5G';
                    ifaces[i].key = password;
                }
            }
            console.log(ifaces);
            subWifiSet(fromId,toId);
        }else {
            document.getElementById(fromId).style.display = "none";
            document.getElementById(toId).style.display = "";
        }
    }

    // router set interfaces
    function confirmConfig() {
        var params1 = wan_settings;
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params1,
            function(x, result){
                console.log(result);
                if (result!=null&&result.code == 0) {
                    var params2 = {'ifaces':ifaces};
                    XHR.post('<%=luci.dispatcher.build_url("admin", "wirelessnew","set_wifi_iface")%>', params2,
                        function(x, result){
                            console.log(result);
                            if (result.code == 0) {
                                this.toHome();
                            }
                        });
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '设置失败！';
                    err.style.visibility = 'visible';
                }
            });
    }

    // page functions
    /*function onload(){
        var name = document.getElementById("name").value;
        /!*var load = document.getElementById("loadTip");*!/
        if (name==null||name==""){
            load.style.visibility="visible";
        }else {
            load.style.visibility="hidden";
        }
    }*/

    function toHome() {
        location.href='<%=controller%>/admin/common'
    }

    function subWifiSet() {
        var name = document.getElementById("name").value;
        var password = document.getElementById("wzdWirelessPwd").value;
        if (name!=null&&name!=""){
            if (password==null||password==""){
                document.getElementById("pwdNullTip").style.visibility="visible";
                document.getElementById("Cover").style.visibility="visible"
            }else {
                document.getElementById("setting-2").style.display = "none";
                document.getElementById("setting-3").style.display = "";
            }
        }/*else {
            document.getElementById("loadTip").style.visibility="visible";
        }*/
    }

    function hidTip() {
        var basicIpNote = document.getElementById("basicIpNote");
        var basicMaskNote = document.getElementById("basicMaskNote");
        var basicGatewayNote = document.getElementById("basicGatewayNote");
        var basicPrimDnsNote = document.getElementById("basicPrimDnsNote");
        var basicSeDnsNote = document.getElementById("basicSeDnsNote");
        basicIpNote.style.visibility = 'hidden';
        basicMaskNote.style.visibility = 'hidden';
        basicGatewayNote.style.visibility = 'hidden';
        basicPrimDnsNote.style.visibility = 'hidden';
        basicSeDnsNote.style.visibility = 'hidden';
    }

    // check functions
    function repwd() {
        document.getElementById("pwdNullTip").style.visibility="hidden";
        document.getElementById("Cover").style.visibility="hidden"
    }

    function nopwd(arr) {
        var fromId = 'setting-' + arr[0];
        var toId = 'setting-' + arr[1];
        document.getElementById("pwdNullTip").style.visibility="hidden";
        document.getElementById("Cover").style.visibility="hidden"
        document.getElementById(fromId).style.display = "none";
        document.getElementById(toId).style.display = "";
    }

    function isValidInput() {
        var staticIp = document.getElementById("static-ipaddr").value;
        var staticNetMask = document.getElementById("static-netmask").value;
        var staticGateway = document.getElementById("static-gateway").value;
        var staticDNS = document.getElementById("static-dns").value;
        var staticDNSBak = document.getElementById("static-dnsbak").value;

        var basicIpNote = document.getElementById("basicIpNote");
        var basicMaskNote = document.getElementById("basicMaskNote");
        var basicGatewayNote = document.getElementById("basicGatewayNote");
        var basicPrimDnsNote = document.getElementById("basicPrimDnsNote");
        var basicSeDnsNote = document.getElementById("basicSeDnsNote");
        hidTip();
        if ((staticIp != ''&&!isValidIP(staticIp))||(staticSave&&staticIp == '')){
            basicIpNote.style.visibility = 'visible';
            document.getElementById("static-ipaddr").focus();
            staticSave = false;
            return false;
        }else if((staticNetMask != ''&& !isValidNetmask(staticNetMask))||(staticSave&&staticNetMask == '')){
            basicMaskNote.style.visibility = 'visible';
            document.getElementById("static-netmask").focus();
            staticSave = false;
            return false;
        }else if((staticGateway != ''&&!isValidIP(staticGateway))||(staticSave&&staticGateway == '')){
            basicGatewayNote.style.visibility = 'visible';
            document.getElementById("static-gateway").focus();
            staticSave = false;
            return false;
        }else if((staticDNS != ''&&!isValidIP(staticDNS))||(staticSave&&staticDNS == '')){
            basicPrimDnsNote.style.visibility = 'visible';
            document.getElementById("static-dns").focus();
            staticSave = false;
            return false;
        }else if(staticDNSBak !=''&&!isValidIP(staticDNSBak)){
            basicSeDnsNote.style.visibility = 'visible';
            document.getElementById("static-dnsbak").focus();
            staticSave = false;
            return false;
        }
        staticSave = false;
        return true;
    }
    function closeSureTip(i) {
        document.getElementById('isSureTip').style.visibility = 'hidden';
        if (i==1){
            XHR.get('<%=luci.dispatcher.build_url("admin", "wirelessnew","get_wifi_iface")%>', null,
                function(x, result) {
                    if (result.code == 0) {
                        console.log(result);
                        console.log(result.ifaces);
                        ifaces = result.ifaces;
                        for (i in ifaces) {
                            if (ifaces[i].band == '2.4G') {
                                document.getElementById('name').value = ifaces[i].ssid;
                            }
                        }
                    }
                });
        }


    }
</script>