:8080
{
encode gzip
basicauth {
admin JDJhJDEwJFRKOUM1eVZKbkg4LzA0OWMvRElsbi5sSmx1TFpXcExaNmV2ajRFUGkvSUkuYTY5S05JOUlt
}
root * /mnt/sda1

route {
	rewrite /webdav /webdav/
	webdav /webdav/* {
		prefix /webdav
	}
	file_server browse
}
}
