<%+header%>
<fieldset>
	<legend><%:modify password%></legend>
    <ul><li class="border-line"></li></ul>
    <div id="Error">
        <div id="hsErr" class="hsTip">
            <i class="altIcon"></i>
			<span class="detail"><%:Two password input inconsistent!%></span>
			<input class="subBtn" value="<%:confirm%>" type="button" onclick="closeTip()">
        </div>
    </div>
    <table class="tb-no-border">
		<tr><td class="wan-td-left"><%:original password%></td><td class="wan-td-right"><input id="old-password" type="password" maxlength="31"  onkeyup="nStrLimit(this)"></td></tr>
		<tr><td class="wan-td-left"><%:new password%></td><td class="wan-td-right"><input id="new-password" type="password" maxlength="31"  onkeyup="nStrLimit(this)"></td></tr>
		<tr><td class="wan-td-left"><%:confirm new password%></td><td class="wan-td-right"><input id="renew-password" type="password" maxlength="31"  onkeyup="nStrLimit(this)"></td></tr>
        <tr><td colspan="2">
				<button onclick="modifyPassword()"><%:save%></button>
            <i id="saveTip" class="hsSubLoading saving" style="display: none"></i>
            <i id="saveTipSucess" class="hsSubLoading save-suc" style="display: none"></i>
        </td></tr>
    </table>
</fieldset>
<%+footer%>
<script>
    var errTipDoc;
    // router interfaces
    function modifyPassword() {
        var passwordold = document.getElementById('old-password').value;
        var passwordnew = document.getElementById('new-password').value;
        var repasswordnew = document.getElementById('renew-password').value;
        var err = document.getElementById('Error');
        var text = err.getElementsByTagName('span')[0];
        if (passwordold==null||passwordold==""){
			text.innerText = '<%:The original password cannot be empty%>';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('old-password');
            return;
        }
        if (passwordnew.length <6){
			text.innerText = '<%:New password length error%>';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('new-password');
            return;
        }
        if (passwordnew != repasswordnew) {
			text.innerText = '<%:Two password input inconsistent!%>';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('renew-password');
            return;
        }
        var params = {'oldpwd':passwordold, 'newpwd':passwordnew};
        console.log(params);
        document.getElementById("saveTip").style.display='';
        document.getElementById("saveTipSucess").style.display='none';
        XHR.post('<%=luci.dispatcher.build_url("admin", "systemnew","set_password")%>', params,
            function(x, result){
            console.log(result);
                document.getElementById("saveTip").style.display='none';
                if (result==null) {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    err.style.visibility = 'visible';
					text.innerText = '<%:router connection failure%>';
                }else if (result!=null&&result.code == 0) {
                    console.log(result);
                    document.getElementById("saveTipSucess").style.display='';
                    setTimeout(function () {
                        document.getElementById("saveTipSucess").style.display='none';
                        location.href='<%=controller%>/admin/logout';
                    },"2000");
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = result.msg;
                    err.style.visibility = 'visible';
                }
            });
    }
</script>
