<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "squeezelite", "status")%>', null,
	function(x, data) {
		var tb = document.getElementById('squeezelite_status');
		if (data && tb) {
			if (data.running) {
				var links = '<font color=green>Squeezelite <%:RUNNING%></font>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<font color=red>Squeezelite <%:NOT RUNNING%></font>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="squeezelite_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
