<%+header%>
<fieldset class="wan">
	<legend>WAN口设置</legend>
    <div id="Error">
		<div id="hsErr" class="hsTip">
			<i class="altIcon"></i>>
			<span class="detail">无效的输入！请参考正确格式：<br>XXX.XXX.XXX.XXX，X为0~9的数字。</span>
            <input class="subBtn" value="确 定" type="button" onclick="closeTip()">
        </div>
    </div>
	<div id="netSetState" class="handleRelCon" style="visibility: visible;">
		<i id="linked" class="state" ></i>
		<i id="linking" class="state" style="display: none"></i>
		<i id="break" class="state" style="display: none"></i>
		<span id="netStatus" class="state">已连接</span>
	</div>
	<i class="helpBtn" helpstr="dynamicIpHelp" onclick="clickHelp(0)"></i>
	<li class="border-line"></li>
	<table class="tb-no-border">
		<tr><td class="td-tittle" colspan="2">WAN口连接类型 :
			<select id="wan-connect-type" onchange="changeOption()">
				<option value="dhcp">自动获得IP地址</option>
				<option value="static">固定IP地址</option>
				<option value="pppoe">宽带拨号上网</option>
			</select>
			<button onclick="getWan()">自动检测</button>
		</td></tr>
		<tr id="pppoe" style="display: none"><td>
			<table class="tb-no-border">
				<tr><td class="wan-td-left">宽带账号：</td><td class="wan-td-right"><input id="pppoe-account" type="text" maxlength="32"></td></tr>
				<tr><td class="wan-td-left">宽带密码：</td><td class="wan-td-right"><input id="pppoe-password" type="text" onkeyup="nStrLimit(this)" maxlength="63"></td></tr>
				<tr><td class="wan-td-left">拨号模式：</td><td class="wan-td-right">
					<select  id="pppoe-mode">
						<option>自动选择拨号模式</option>
						<option>正常拨号模式</option>
						<option>特殊拨号模式1</option>
						<option>特殊拨号模式2</option>
						<option>特殊拨号模式3</option>
					</select>
				</td></tr>
				<tr><td class="wan-td-left">WAN口速率设置：</td><td class="wan-td-right">
					<select  id="pppoe-wanspeed-type">
						<option value="auto">自动协商</option>
						<option value="10mfull">10M全双工</option>
						<option value="10mhalf">10M半双工</option>
					</select>
				</td></tr>
				<tr><td class="wan-td-left">
				</td><td class="wan-td-right">
					<button onclick="ppoeDisconnect()">断开</button>
					<button onclick="ppoeConnect()">连接</button>
				</td></tr>
				<tr><td colspan="2">
					<fieldset class="notChild">
                        <li class="border-line"></li>
						<legend>连接模式</legend>
                        <li class="border-line bottom"></li>
						<table class="tb-no-border">
							<tr><td colspan="2">
								<select  id="pppoe-connectmode">
									<option>按需连接，在有访问时自动连接</option>
									<option>自动连接，在开机和断线后自动连接</option>
									<option>手动连接，由用户手动连接</option>
								</select>
							</td></tr>
							<tr><td>自动断线等待时间：<input  id="pppoe-disconnectinterval" type="text" onkeyup="numLimit(this)" maxlength="4">分(0表示不自动断线)</td></tr>
						</table>
					</fieldset>
				</td></tr>
				<tr><td colspan="2">
					<fieldset class="notChild">
                        <li class="border-line"></li>
						<legend>宽带拨号高级设置</legend>
                        <li class="border-line bottom"></li>
						<table class="tb-no-border">
							<tr><td class="wan-td-left">数据包MTU(字节)：</td><td class="wan-td-right"><input id="pppoe-packageMTU" type="text" onkeyup="numLimit(this)" maxlength="4">(默认是1480，如非必要，请勿修改)</td></tr>
							<tr><td class="wan-td-left">服务名：</td><td class="wan-td-right"><input id="pppoe-servicename" type="text" maxlength="32"></td></tr>
							<tr><td class="wan-td-left">服务器名：</td><td class="wan-td-right"><input id="pppoe-servername" type="text" maxlength="32"></td></tr>
							<tr><td class="wan-td-left"><input id="pppoe-useoperatoraddress" type="checkbox"></td><td class="wan-td-right">使用运营商指定的IP地址</td></tr>
							<tr><td class="wan-td-left">运营商指定的IP地址：</td><td class="wan-td-right"><input id="pppoe-operatoraddress" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
							<tr><td class="wan-td-left"><input id="pppoe-manualdns" type="checkbox" onchange="openManualDns('pppoe')"></td><td class="wan-td-right">手动设置DNS服务器</td></tr>
							<tr><td class="wan-td-left">首选DNS服务器：</td><td class="wan-td-right"><input id="pppoe-manual-dns" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
							<tr><td class="wan-td-left">备用DNS服务器：</td><td class="wan-td-right"><input id="pppoe-manual-dnsbak" type="text" onkeyup="nStrLimit(this)" maxlength="15">(可选)</td></tr>
							<tr><td></td><td class="wan-td-right">
								<button onclick="savePppoe()">保存</button>
								<i id="pppoe-saveTip" class="hsSubLoading saving" style="display: none"></i>
								<i id="pppoe-saveTipSucess" class="hsSubLoading save-suc" style="display: none"></i>
							</td></tr>
						</table>
					</fieldset>
				</td></tr>
			</table>
		</td></tr>
		<tr id="static" style="display: none"><td>
			<table class="tb-no-border">
				<tr><td class="wan-td-left">IP地址：</td><td class="wan-td-right"><input id="static-ipaddr" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
				<tr><td class="wan-td-left">子网掩码：</td><td class="wan-td-right"><input id="static-netmask" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
				<tr><td class="wan-td-left">网关：</td><td class="wan-td-right"><input  id="static-gateway" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
				<tr><td class="wan-td-left">首选DNS服务器：</td><td class="wan-td-right"><input  id="static-dns" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
				<tr><td class="wan-td-left">备用DNS服务器：</td><td class="wan-td-right"><input  id="static-dnsbak" type="text" onkeyup="nStrLimit(this)" maxlength="15">(可选)</td></tr>
				<tr><td class="wan-td-left">数据包MTU字节：</td><td class="wan-td-right"><input  id="static-packageMTU" type="text" value="1500"  onkeyup="nStrLimit(this)" maxlength="15"style="width: 50px">(默认是1500，如非必要，请勿修改)</td></tr>
				<tr><td class="wan-td-left">WAN口速率设置：</td><td class="wan-td-right">
					<select id="static-wanspeed-type">
						<option value="auto">自动协商</option>
						<option value="10mfull">10M全双工</option>
						<option value="10mhalf">10M半双工</option>
					</select>
				</td></tr>
				<tr><td></td><td class="wan-td-right">
					<button onclick="saveStatic()">保存</button>
					<i id="static-saveTip" class="hsSubLoading saving" style="display: none"></i>
					<i id="static-saveTipSucess" class="hsSubLoading save-suc" style="display: none"></i>
				</td></tr>
			</table>
		</td></tr>
		<tr id="dhcp" style="display: none"><td>
			<table class="tb-no-border">
				<tr><td class="wan-td-left">IP地址：</td><td class="wan-td-right"><span id="dhcp-ipaddr"></span></td></tr>
				<tr><td class="wan-td-left">子网掩码：</td><td class="wan-td-right"><span id="dhcp-netmask"></span></td></tr>
				<tr><td class="wan-td-left">网关：</td><td class="wan-td-right"><span id="dhcp-gateway"></span></td></tr>
				<tr><td class="wan-td-left">DNS服务器：</td><td class="wan-td-right"><span id="dhcp-dns"></span></td></tr>
				<tr><td></td><td class="wan-td-right">
					<button id="update" onclick="updateDhcp()">更新</button>
					<button id="release" onclick="releaseDhcp()">释放</button>
				</td></tr>
				<tr><td class="wan-td-left">数据包MTU(字节)：</td><td class="wan-td-right"><input type="text" onkeyup="numLimit(this)" maxlength="4">(默认是1500，如非必要，请勿修改)</td></tr>
				<tr><td class="wan-td-left"><input id="dhcp-manualdns" type="checkbox" onchange="openManualDns('dhcp')"></td><td class="wan-td-right">手动设置DNS服务器</td></tr>
				<tr><td class="wan-td-left">首选DNS服务器：</td><td class="wan-td-right"><input id="dhcp-manual-dns" type="text" onkeyup="nStrLimit(this)" maxlength="15"></td></tr>
				<tr><td class="wan-td-left">备用DNS服务器：</td><td class="wan-td-right"><input id="dhcp-manual-dnsbak" type="text" onkeyup="nStrLimit(this)" maxlength="15">(可选)</td></tr>
				<tr><td class="wan-td-left">主机名：</td><td class="wan-td-right"><input id="dhcp-hostname" type="text" maxlength="32"></td></tr>
				<tr><td class="wan-td-left"><input id="dhcp-unicast" type="checkbox"></td><td class="wan-td-right">单播方式获取IP(一般情况下请勿选择)</td></tr>
				<tr><td class="wan-td-left">WAN口速率设置：</td><td class="wan-td-right">
					<select id="dhcp-wanspeed-type">
						<option value="auto">自动协商</option>
						<option value="10mfull">10M全双工</option>
						<option value="10mhalf">10M半双工</option>
					</select>
				</td></tr>
				<tr><td></td><td class="wan-td-right">
					<button onclick="saveDhcp()">保存</button>
					<i id="dhcp-saveTip" class="hsSubLoading saving" style="display: none"></i>
					<i id="dhcp-saveTipSucess" class="hsSubLoading save-suc" style="display: none"></i>
				</td></tr>
			</table>
		</td></tr>
	</table>
	<div id="Help" ><p class="helpTop">
		<span class="helpDes">帮助</span>
		<i class="helpClose" onclick="clickHelp(1)"></i></p>
		<div id="helpDetail"><ul id="dynamicIpHelp" class="help">
		<li class="title">WAN口连接类型</li>
		<li class="content">运营商所提供的上网方式。</li>
		<li class="title">自动获得IP地址</li>
		<li class="content">使用运营商动态分配的临时IP进行上网的方式。</li>
		<li class="title">IP地址、子网掩码、网关</li>
		<li class="content">运营商动态分配的上网参数。</li>
		<li class="title">数据包MTU</li>
		<li class="content">数据包的最大传输单元，可设置范围为576 ～ 1500。</li>
		<li class="title">手动设置DNS服务器</li>
		<li class="content">自动获得IP地址上网方式下运营商会自动分配DNS服务器，如有需要也可以手动设置。</li>
		<li class="title">单播方式获取IP</li>
		<li class="content">少数运营商的DHCP服务器不支持广播的请求方式，如果您在网络连接正常的情况下无法获取IP地址，可以选择单播的方式。</li>
		<li class="title">WAN口速率设置</li>
		<li class="content">设置WAN口的速率以及双工模式。个别小区宽带线路被强制为10Mbps导致路由器无法正常使用，此时可以通过将WAN口速率强制为10Mbps解决。</li>
	</ul></div></div>
    <div id="waiting" style="display: none">
        <div class="LoadConCover">
            <div class="coverLoadCon">
                <div class="coverLoad">
                    <i class="coverLoadClose" onclick="coverClose()"></i>
                    <i class="coverLoading" ></i>
                    <p class="coverLoadNote">正在检测，请稍等...</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<%+footer%>
<script>
	// global vars
    var selected = 0;
    var errTipDoc = document.getElementById("static-ipaddr");
    var Drag =  document.getElementById("Help");
    var getWan_count = 0;

    // page load functions
    getWan();
    dragFunc(Drag);

    //get wan netStatus 5000ms/1
    setInterval(function(){
        XHR.get('<%=luci.dispatcher.build_url("admin", "networknew","get_wan")%>', null,
            function(x, result) {
                if (result != null && result.code == 0) {
                    var wantype = result.wantype;
                    if (wantype == 1) {
                        if (result.DHCP.linkstatus != undefined) {
                            var flag;
                            if (result.DHCP.linkstatus == 0) {
                                flag = 2;
                            } else if (result.DHCP.ipaddr != undefined) {
                                flag = 1;
                            } else {
                                flag = 0;
                            }
                            setLinkStatus(flag);
                        }
                    }else if (wantype == 2) {
                        if (result.staticip.linkstatus != undefined) {
                            setLinkStatus(result.staticip.linkstatus);
                        }
                    } else {
                        if (result.PPPoE.linkstatus != undefined) {
                            setLinkStatus(result.PPPoE.linkstatus);
                        }
                    }
                }
            });
	},5000);

    // router get interfaces
    function getWan() {
        document.getElementById("waiting").style.display='';
		timer = setInterval(function () {
			XHR.get('<%=luci.dispatcher.build_url("admin", "networknew","get_wan")%>', null,
				function(x, result) {
					if (result!=null && result.code == 0) {
						clearInterval(timer);
						console.log(result);
						document.getElementById("waiting").style.display='none';
						var wantype = result.wantype;
						var wantypeIndex;
						var e;
						if (wantype == 1) {
							wantypeIndex = 0;
							this.displayOption(wantypeIndex);
							if (result.DHCP.linkstatus != undefined) {
								var flag;
								if (result.DHCP.linkstatus == 0) {
									flag = 2;
								} else if (result.DHCP.ipaddr != undefined) {
									flag = 1;
								} else {
									flag = 0;
								}
								setLinkStatus(flag);
							}
							if (result.DHCP.ipaddr != undefined) {
								document.getElementById('dhcp-ipaddr').innerText = result.DHCP.ipaddr;
								document.getElementById('release').style.background = '#d7000f';
								document.getElementById('update').style.background = '#bebebe';
								document.getElementById('update').disabled = 'disabled';
								document.getElementById('release').disabled = '';
							} else {
								document.getElementById('dhcp-ipaddr').innerText = '';
								document.getElementById('update').style.background = '#d7000f';
								document.getElementById('release').style.background = '#bebebe';
								document.getElementById('release').disabled = 'disabled';
								document.getElementById('update').disabled = '';
							}
							if (result.DHCP.netmask != undefined) {
								document.getElementById('dhcp-netmask').innerText = result.DHCP.netmask;
							}else {
								document.getElementById('dhcp-netmask').innerText = '';
							}
							if (result.DHCP.gateway != undefined) {
								document.getElementById('dhcp-gateway').innerText = result.DHCP.gateway;
								document.getElementById('dhcp-dns').innerText = result.DHCP.gateway;
							} else {
								document.getElementById('dhcp-gateway').innerText = '';
								document.getElementById('dhcp-dns').innerText = '';
							}
							if (e = document.getElementById('dhcp-manualdns')) {
                                e.checked = result.DHCP.manualdns;
								if (result.DHCP.manualdns == true) {
                                    document.getElementById('dhcp-manual-dns').disabled = false;
                                    document.getElementById('dhcp-manual-dnsbak').disabled = false;
								} else {
									document.getElementById('dhcp-manual-dns').disabled = 'disabled';
									document.getElementById('dhcp-manual-dnsbak').disabled = 'disabled';
								}
							}
							if (result.DHCP.dns != undefined) {
								document.getElementById('dhcp-manual-dns').value = result.DHCP.dns;
							}
							if (result.DHCP.dnsbak != undefined) {
								document.getElementById('dhcp-manual-dnsbak').value = result.DHCP.dnsbak;
							}
							if (result.DHCP.hostname != undefined) {
								document.getElementById('dhcp-hostname').innerText = result.DHCP.hostname;
							}else {
								document.getElementById('dhcp-hostname').innerText = '';
							}
							if (e = document.getElementById('dhcp-unicast')) {
								if (result.DHCP.unicast == true) {
									e.checked = true;
								}
							}
							var dhcpWanspeedType = document.getElementById('dhcp-wanspeed-type');
							if (result.DHCP.wanspeed == 'auto') {
								dhcpWanspeedType.selectedIndex = 0;
							} else {
								for (var i=0; i<dhcpWanspeedType.options.length; i++) {
									if (dhcpWanspeedType[i].value == result.DHCP.wanspeed) {
										dhcpWanspeedType.selectedIndex = i;
									}
								}
							}
						} else if (wantype == 2) {
							wantypeIndex = 1;
							this.displayOption(wantypeIndex);
							if (result.staticip.linkstatus != undefined) {
								setLinkStatus(result.staticip.linkstatus);
							}
							if (result.staticip.ipaddr != undefined) {
								document.getElementById('static-ipaddr').value = result.staticip.ipaddr;
							}
							if (result.staticip.netmask != undefined) {
								document.getElementById('static-netmask').value = result.staticip.netmask;
							}
							if (result.staticip.gateway != undefined) {
								document.getElementById('static-gateway').value = result.staticip.gateway;
							}
							if (result.staticip.dns != undefined) {
								document.getElementById('static-dns').value = result.staticip.dns;
							}
							if (result.staticip.dnsbak != undefined) {
								document.getElementById('static-dnsbak').value = result.staticip.dnsbak;
							}
							if (result.staticip.packageMTU != undefined) {
								document.getElementById('static-packageMTU').value = result.staticip.packageMTU;
							}
							var staticWanspeedType = document.getElementById('static-wanspeed-type');
							if (result.staticip.wanspeed == 'auto') {
								staticWanspeedType.selectedIndex = 0;
							} else {
								for (var i=0; i<staticWanspeedType.options.length; i++) {
									if (staticWanspeedType[i].value == result.staticip.wanspeed) {
										staticWanspeedType.selectedIndex = i;
									}
								}
							}
						} else {
							wantypeIndex = 2;
							this.displayOption(wantypeIndex);
							if (result.PPPoE.linkstatus != undefined) {
								setLinkStatus(result.PPPoE.linkstatus);
							}
							if (result.PPPoE.account != undefined) {
								document.getElementById('pppoe-account').value = result.PPPoE.account;
							}else {
								document.getElementById('pppoe-account').value = '';
							}
							if (result.PPPoE.password != undefined) {
								document.getElementById('pppoe-password').value = result.PPPoE.password;
							}else {
								document.getElementById('pppoe-password').value = '';
							}

							if (e = document.getElementById('pppoe-mode')) {
								var pppoeModeIndex = result.PPPoE.mode;
								e.selectedIndex = pppoeModeIndex;
							}
							var pppoeWanspeedType = document.getElementById('pppoe-wanspeed-type');
							if (result.PPPoE.wanspeed == 'auto') {
								pppoeWanspeedType.selectedIndex = 0;
							} else {
								for (var i=0; i<pppoeWanspeedType.options.length; i++) {
									if (pppoeWanspeedType[i].value == result.PPPoE.wanspeed) {
										pppoeWanspeedType.selectedIndex = i;
									}
								}
							}
							if (e = document.getElementById('pppoe-connectmode')) {
								var pppoeConnectmodeIndex = result.PPPoE.connectmode;
								e.selectedIndex = pppoeConnectmodeIndex;
							}
							if (result.PPPoE.disconnectinterval != undefined) {
								document.getElementById('pppoe-disconnectinterval').value = result.PPPoE.disconnectinterval;
							}else {
								document.getElementById('pppoe-disconnectinterval').value = '';
							}
							if (result.PPPoE.packageMTU != undefined) {
								document.getElementById('pppoe-packageMTU').value = result.PPPoE.packageMTU;
							}else {
								document.getElementById('pppoe-packageMTU').value = '';
							}
							if (result.PPPoE.servicename != undefined) {
								document.getElementById('pppoe-servicename').value = result.PPPoE.servicename;
							}else {
								document.getElementById('pppoe-servicename').value = '';
							}
							if (result.PPPoE.servername != undefined) {
								document.getElementById('pppoe-servername').value = result.PPPoE.servername;
							}else {
								document.getElementById('pppoe-servername').value = '';
							}
							if (result.PPPoE.useoperatoraddress != undefined) {
								document.getElementById('pppoe-useoperatoraddress').value = result.PPPoE.useoperatoraddress;
							}else {
								document.getElementById('pppoe-useoperatoraddress').value = '';
							}
							if (result.PPPoE.operatoraddress != undefined) {
								document.getElementById('pppoe-operatoraddress').value = result.PPPoE.operatoraddress;
							}else {
								document.getElementById('pppoe-operatoraddress').value = '';
							}
							if (e = document.getElementById('pppoe-manualdns')){
                                e.checked = result.PPPoE.manualdns;
                                if (result.PPPoE.manualdns) {
                                    document.getElementById('pppoe-manual-dns').disabled = false;
                                    document.getElementById('pppoe-manual-dnsbak').disabled = false;
                                } else {
                                    document.getElementById('pppoe-manual-dns').disabled = 'disabled';
                                    document.getElementById('pppoe-manual-dnsbak').disabled = 'disabled';
                                }
							}
							if (result.PPPoE.dns != undefined) {
								document.getElementById('pppoe-manual-dns').value = result.PPPoE.dns;
							}else {
								document.getElementById('pppoe-manual-dns').value = '';
							}
							if (result.PPPoE.dnsbak != undefined) {
								document.getElementById('pppoe-manual-dnsbak').value = result.PPPoE.dnsbak;
							}else {
								document.getElementById('pppoe-manual-dnsbak').value = '';
							}
						}
					}
                    getWan_count ++;
					if (getWan_count > 10) {
                        clearInterval(timer);
                        document.getElementById("waiting").style.display='none';
                        var err = document.getElementById('Error');
                        var text = err.getElementsByTagName('span')[0];
                        text.innerText = '获取数据失败！';
                        err.style.visibility = 'visible';
					}
				});
		}, 1000);
    }

    // router set interfaces
    function saveDhcp() {
        document.getElementById("dhcp-saveTipSucess").style.display='none';
        var wantype = 1;
        var manualdns = document.getElementById('dhcp-manualdns').checked;
        var dns = document.getElementById('dhcp-manual-dns').value;
        var dnsbak = document.getElementById('dhcp-manual-dnsbak').value;
        var hostname = document.getElementById('dhcp-hostname').value;
        var unicast = document.getElementById('dhcp-unicast').checked;
        var dhcpWanspeedType = document.getElementById('dhcp-wanspeed-type');
        var index = dhcpWanspeedType.selectedIndex;
        var wanspeed = dhcpWanspeedType[index].value;
        var err = document.getElementById('Error');
        var text = err.getElementsByTagName('span')[0];
        if (manualdns) {
            text.innerText = '无效的输入！请参考正确格式：<br>XXX.XXX.XXX.XXX，X为0~9的数字。';
            if (!isValidIP(dns)) {
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('dhcp-manual-dns');
                return;
            }else if (dnsbak!=undefined&&dnsbak!=null&&dnsbak!=""&&!isValidIP(dnsbak)){
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('dhcp-manual-dnsbak');
                return;
            }
            if (hostname == "" || hostname == null) {
                var err = document.getElementById('Error');
                var text = err.getElementsByTagName('span')[0];
                text.innerText = '主机名不能为空，请重新输入'
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('dhcp-hostname');
                return;
            }
		}
        document.getElementById("dhcp-saveTip").style.display='';
        var params = {'wantype':wantype, 'manualdns':manualdns, 'dns':dns, 'dnsbak':dnsbak, 'hostname':hostname,
            'unicast':unicast, 'wanspeed':wanspeed};
        console.log(params);
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                document.getElementById("dhcp-saveTip").style.display='none';
                if (result!=null&&result.code == 0) {
                    this.getWan();
                    document.getElementById("dhcp-saveTipSucess").style.display='';
                    setTimeout(function () {
                        document.getElementById("dhcp-saveTipSucess").style.display='none';
                    },"2000");
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '保存数据失败！';
                    err.style.visibility = 'visible';
                }
            });
    }

    function saveStatic() {
        var wantype = 2;
		var ipaddr = document.getElementById('static-ipaddr').value;
        var netmask = document.getElementById('static-netmask').value;
        var gateway = document.getElementById('static-gateway').value;
        var dns = document.getElementById('static-dns').value;
        var dnsbak = document.getElementById('static-dnsbak').value;
        var err = document.getElementById('Error');
        var text = err.getElementsByTagName('span')[0];
        text.innerText = '无效的输入！请参考正确格式：<br>XXX.XXX.XXX.XXX，X为0~9的数字。'
		if (!isValidIP(ipaddr)) {
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('static-ipaddr');
            return;
		}else if (!isValidIP(netmask)){
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('static-netmask');
            return;
		} else if (!isValidIP(gateway)){
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('static-gateway');
            return;
        }else if (!isValidIP(dns)){
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('static-dns');
            return;
        }else if (dnsbak!=undefined&&dnsbak!=null&&dnsbak!=""&&!isValidIP(dnsbak)){
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('static-dnsbak');
            return;
        }
        var packageMTU = document.getElementById('static-packageMTU').value;
        var staticWanspeedType = document.getElementById('static-wanspeed-type');
        var index = staticWanspeedType.selectedIndex;
        var wanspeed = staticWanspeedType[index].value;
        var params = {'wantype':wantype, 'ipaddr':ipaddr, 'netmask':netmask,
			'gateway':gateway, 'dns':dns, 'dnsbak':dnsbak, 'packageMTU':packageMTU, 'wanspeed':wanspeed};
        document.getElementById("static-saveTip").style.display='';
        document.getElementById("static-saveTipSucess").style.display='none';
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                document.getElementById("static-saveTip").style.display='none';
                if (result!=null&&result.code == 0) {
                    document.getElementById("static-saveTipSucess").style.display='';
                    setTimeout(function () {
                        document.getElementById("static-saveTipSucess").style.display='none';
                    },"2000");
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '保存数据失败！'
                    err.style.visibility = 'visible';
                }
            });
    }

    function savePppoe() {
        document.getElementById("pppoe-saveTipSucess").style.display='none';
        var wantype = 4;
        var account = document.getElementById('pppoe-account').value;
        var password = document.getElementById('pppoe-password').value;
        var pppoeMode = document.getElementById('pppoe-mode');
        var mode = pppoeMode.selectedIndex;
        var pppoeWanspeedType = document.getElementById('pppoe-wanspeed-type');
        var index = pppoeWanspeedType.selectedIndex;
        var wanspeed = pppoeWanspeedType[index].value;
        var pppoeConnectmode = document.getElementById('pppoe-connectmode');
        var connectmode = pppoeConnectmode.selectedIndex;
        var disconnectinterval = document.getElementById('pppoe-disconnectinterval').value;
        var packageMTU = document.getElementById('pppoe-packageMTU').value;
        var servicename = document.getElementById('pppoe-servicename').value;
        var servername = document.getElementById('pppoe-servername').value;
        var useoperatoraddress = document.getElementById('pppoe-useoperatoraddress').checked;
        var operatoraddress = document.getElementById('pppoe-operatoraddress').value;
        var manualdns = document.getElementById('pppoe-manualdns').checked;
        var dns = document.getElementById('pppoe-manual-dns').value;
        var dnsbak = document.getElementById('pppoe-manual-dnsbak').value;
        var err = document.getElementById('Error');
        var text = err.getElementsByTagName('span')[0];
        if (strlen(account)<2||strlen(account)>32){
            text.innerText = '账号长度不合法。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-account');
            return;
		}
		if (strlen(password)<2||strlen(password)>32) {
            text.innerText = '密码长度不合法。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-password');
            return;
		}
		if (disconnectinterval==null||disconnectinterval==""){
            text.innerText = '自动等待断线时间不能为空。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-disconnectinterval');
            return;
		}
        if (packageMTU==null||packageMTU==""){
            text.innerText = 'MTU不能为空。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-packageMTU');
            return;
        }
        if (servicename==null||servicename==""){
            text.innerText = '服务名不能为空。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-servicename');
            return;
        }
        if (servername==null||servername==""){
            text.innerText = '服务器名不能为空。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-servername');
            return;
        }
        if (manualdns){
            text.innerText = '无效的输入！请参考正确格式：<br>XXX.XXX.XXX.XXX，X为0~9的数字。'
            if (!isValidIP(operatoraddress)){
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('pppoe-operatoraddress');
                return;
            }else if (!isValidIP(dns)){
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('pppoe-manual-dns');
                return;
            }else if (dnsbak!=undefined&&dnsbak!=null&&dnsbak!=""&&!isValidIP(dnsbak)){
                err.style.visibility = 'visible';
                errTipDoc = document.getElementById('pppoe-manual-dnsbak');
                return;
            }
		}
        document.getElementById("pppoe-saveTip").style.display='';
        var params = {'wantype':wantype, 'account':account, 'password':password, 'mode':mode,
					'wanspeed':wanspeed, 'connectmode':connectmode, 'disconnectinterval':disconnectinterval,
					'packageMTU':packageMTU, 'servicename':servicename, 'servername':servername,
					'useoperatoraddress':useoperatoraddress, 'operatoraddress':operatoraddress, 'manualdns':manualdns,
					'dns':dns, 'dnsbak':dnsbak};
        console.log("pppoeParams",params);
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                document.getElementById("pppoe-saveTip").style.display='none';
                if (result!=null&&result.code == 0) {
                    document.getElementById("pppoe-saveTipSucess").style.display='';
                    setTimeout(function () {
                        document.getElementById("pppoe-saveTipSucess").style.display='none';
                    },"2000");
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '保存数据失败！';
                    err.style.visibility = 'visible';
                }
            });
    }

    // other button functions
    function updateDhcp() {
        var wantype = 1;
        var updateip = true;
        var dns = '';
        var params = {'wantype':wantype, 'updateip':updateip, 'dns':dns};
        console.log(params);
        document.getElementById('break').style.display = 'none';
        document.getElementById('linked').style.display = 'none';
        document.getElementById('linking').style.display = '';
        document.getElementById('netStatus').innerText = '正在连接...';
        document.getElementById('netStatus').style.color = 'rgb(287, 192, 108)';
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                if (result!=null&&result.code == 0) {
                    getWan();
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '更新失败！';
                    err.style.visibility = 'visible';
                }
            });
    }

    function releaseDhcp() {
        var wantype = 1;
        var releaseip = true;
        var dns = '';
        var params = {'wantype':wantype, 'releaseip':releaseip, 'dns':dns};
        console.log(params);
        document.getElementById('break').style.display = 'none';
        document.getElementById('linked').style.display = 'none';
        document.getElementById('linking').style.display = '';
        document.getElementById('netStatus').innerText = '正在断开...';
        document.getElementById('netStatus').style.color = 'rgb(287, 192, 108)';
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                if (result!=null&&result.code == 0) {
                    getWan();
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '释放失败！';
                    err.style.visibility = 'visible';
                }
            });
    }

    function ppoeConnect() {
        document.getElementById("pppoe-saveTipSucess").style.display='none';
        var wantype = 4;
        var account = document.getElementById('pppoe-account').value;
        var password = document.getElementById('pppoe-password').value;
        var dns = document.getElementById('pppoe-manual-dns').value;
        var err = document.getElementById('Error');
        var text = err.getElementsByTagName('span')[0];
        if (strlen(account)<2||strlen(account)>32){
            text.innerText = '账号长度不合法。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-account');
            return;
        }
        if (strlen(password)<2||strlen(password)>32) {
            text.innerText = '密码长度不合法。';
            err.style.visibility = 'visible';
            errTipDoc = document.getElementById('pppoe-password');
            return;
        }
        document.getElementById("pppoe-saveTip").style.display='';
        var params = {'wantype':wantype, 'account':account, 'password':password, 'dns':dns, 'connect':'1'};
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                if (result!=null && result.code == 0) {
                    getWan();
                }else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '连接失败，请重试！';
                    err.style.visibility = 'visible';
                }
            });
    }

    function ppoeDisconnect() {
        var params = {'wantype':'4', 'connect':'0', 'dns':''};
        XHR.post('<%=luci.dispatcher.build_url("admin", "networknew","set_wan")%>', params,
            function(x, result){
                console.log(result);
                if (result!=null && result.code == 0) {
                    getWan();
                } else {
                    var err = document.getElementById('Error');
                    var text = err.getElementsByTagName('span')[0];
                    text.innerText = '操作失败，请重试！';
                    err.style.visibility = 'visible';
                }
            });
    }

    // page functions
    function setLinkStatus(flag) {
        if (flag == 1) {
            document.getElementById('break').style.display = 'none';
            document.getElementById('linking').style.display = 'none';
            document.getElementById('linked').style.display = '';
            document.getElementById('netStatus').innerText = '已连接';
            document.getElementById('netStatus').style.color = '#8c000a';
        } else if (flag == 0) {
            document.getElementById('linked').style.display = 'none';
            document.getElementById('linking').style.display = 'none';
            document.getElementById('break').style.display = '';
            document.getElementById('netStatus').innerText = '已断开';
            document.getElementById('netStatus').style.color = 'rgb(218, 31, 24)';
        } else {
            document.getElementById('linked').style.display = 'none';
            document.getElementById('linking').style.display = 'none';
            document.getElementById('break').style.display = '';
            document.getElementById('netStatus').innerText = '已断开(未接线)';
            document.getElementById('netStatus').style.color = 'rgb(218, 31, 24)';
		}
    }

    function displayOption(wantypeIndex) {
        var wanSelect = document.getElementById("wan-connect-type");
        var closeTableId = wanSelect[selected].value;
        var openTableId = wanSelect[wantypeIndex].value;
        selected = wantypeIndex;
        wanSelect.selectedIndex = selected;
        document.getElementById(closeTableId).style.display = "none";
        document.getElementById(openTableId).style.display = "";
    }

    function openManualDns(wantype) {
        var openId = wantype+'-manualdns';
        var open = document.getElementById(openId).checked;
        var dnsId = wantype+'-manual-dns';
        var dnsbakId = wantype+'-manual-dnsbak';
        if (open) {
            document.getElementById(dnsId).disabled = '';
            document.getElementById(dnsbakId).disabled = '';
        } else {
            document.getElementById(dnsId).disabled = 'disabled';
            document.getElementById(dnsbakId).disabled = 'disabled';
        }
    }
</script>
